/*fonts*/
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

h1{
  font-size: 3rem;
}

p{
  font-size: 1rem;
  color: #4a4a4a;
}

small{
  font-size: 0.8rem;
}


/*forms*/
form *{
  margin: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  border-style: none;
  font-size: 1.2rem;
  min-height: 40px;
}
input{
  border: 1px solid #4a4a4a;
  padding: 5px 10px;
}

button{
  padding: 5px 10px;
  min-width: 10rem;
  background: #4a4a4a;
  color: white;
  font-weight: 700;

}


/**/

#board-outline{
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}


.square{
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
